*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #666;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

.link, .link:visited {
  text-decoration: none;
  display: block;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.keyboard-key {
  position: absolute;
  bottom: 0;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width)*4);
  width: var(--width);
  position: relative;
}

.white {
  --width: 10vw;
  background-color: #fff;
  border: 1px solid #333;
  position: relative;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 6vw;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
  color: white
}

.black.active {
  background-color: #333;
}

.white::before , .black::before {
  position: absolute;
  bottom: 0;
}

.white:nth-child(1):before {
  content: 'Z';
}

.white:nth-child(3):before {
  content: 'X';
}

.white:nth-child(5):before {
  content: 'C';
}

.white:nth-child(6):before {
  content: 'V';
}

.white:nth-child(8):before {
  content: 'B';
}

.white:nth-child(10):before {
  content: 'N';
}

.white:nth-child(12):before {
  content: 'M';
}

.black:nth-child(2):before {
  content: 'S';
}

.black:nth-child(4):before {
  content: 'D';
}

.black:nth-child(7):before {
  content: 'G';
}

.black:nth-child(9):before {
  content: 'H';
}

.black:nth-child(11):before {
  content: 'J';
}